<h2>Edit Shift</h2>

<%= render "form.html", changeset: @changeset,
                        action: shift_path(@conn, :update, @shift) %>

<span><%= link "Back", to: shift_path(@conn, :index) %></span>
